.button1{ 
  background-color: blue;
  width: 800px;
  height: 300px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  bottom: 0%;
}
.button1:hover{
background-color: rgba(213, 26, 26, 0.178);
}

.button1:active{
  font-size: 25px;

}
.buttonDiv3{
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.button2{
  background-color: rgb(255, 1, 1);
  width: 800px;
  height: 300px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  bottom: 0%;
}
.button2:hover{
background-color: rgba(255, 0, 0, 0.345);
}

.button2:active{
  font-size: 25px;
}
body {
  background: linear-gradient(90deg, rgb(44, 209, 212) 0%, rgb(90, 90, 255) 35%, rgb(0, 242, 255) 100%);
  margin: 0;
  height: 100vh; 
}


.img1 {
  display: block; 
  width: 100%;
  height: 390px;
  margin: auto;

}

h1 {
    font-size: 310%;
    position: absolute;
    top: 49%; 
    left: 49%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
